/*
Arial
Brush Script MT
Comic Sans
Courier New
Garamond
Georgia
Helvetica
Impact
Lucida Console
Palatino
Tahoma
Times New Roman
Trebuchet MS
Verdana
*/

.contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
}

.tarjeta-personaje {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: nowrap;
  border:10px solid rgb(228, 174, 103);
  box-shadow: 10px 10px 10px rgb(236, 139, 83);
  cursor: pointer;
  width: 300px;
}
.tarjeta-personaje:hover {
  box-shadow: 10px 10px 10px rgb(214, 109, 39);
}

.lado-izquierdo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(36, 132, 211);
  height: 200px;
}
.personaje-imagen {
  height: 200px;
  width: 100px;
  object-fit: contain;
}

.lado-derecho {
  display: flex;
  flex-direction: column;
}
.personaje-nombre {
  font-family: Verdana;
}
.personaje-apodo {
  font-family: Helvetica;
}
.personaje-ocupacion {
  font-family: Impact;
}

.contenedor-fecha-nacionalidad {
  display: flex;
  justify-content: center;
  align-items: center;
}

.personaje-nacionalidad {
  font-family: Garamond;
  font-size: 20px;
  font-weight: 700;
}
.personaje-fecha {
  font-family: Impact;
  font-size: 15px;
}
