.container-home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.box {
  width: 50px;
  height: 50px;
  background-color: rgb(155, 139, 87);
  border-radius: 40%;
}
.box {
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  background: red;
}
.box2 {
  width: 50px;
  height: 50px;
  background-color: rgb(109, 64, 14);
  border-radius: 40%;
}

.imageclass{
  border-radius: 40%;
  margin-top: 20px;
}
.Home {
  list-styl: georgian;
}